body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding-top: 180px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 120px;
    padding: 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: flex;
}

.navbar li {
    position: relative;
    margin-left: 10px;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a:focus {
    background-color: #008ECE;
    color: white;
}

.sub-nav, .sub-sub-nav {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.navbar li:hover .sub-nav,
.navbar li:focus-within .sub-nav,
.sub-nav li:hover .sub-sub-nav,
.sub-nav li:focus-within .sub-sub-nav {
    display: block;
}

.sub-nav li a, .sub-sub-nav li a {
    padding: 10px;
    white-space: nowrap;
}

.sub-nav li a:hover,
.sub-nav li a:focus,
.sub-sub-nav li a:hover,
.sub-sub-nav li a:focus {
    background-color: #008ECE;
    color: white;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 5px 0;
    }

    .sub-nav {
        position: static;
    }
}

.sub-sub-nav {
    left: 100%;
    top: 0;
}

.info-section {
    padding: 20px;
    background-color: #e9e9ff;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section h1, .info-section h2 {
    color: #333;
    margin-top: 20px;
}

.info-section p {
    color: #666;
    line-height: 1.6;
}

.info-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.info-section li {
    margin-bottom: 10px;
}

.intro-container, .features-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content, .features-text {
    flex: 1;
    padding-right: 20px;
}

.features-text {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-text h2 {
    align-self: center;
}

.image-content, .features-image {
    flex-basis: 400px;
}

.image-content img, .features-image img {
    max-width: 100%;
    height: auto;
}

.highlighted-text {
    font-size: 1.2em; /* Makes the text a bit bigger */
    font-style: italic; /* Makes the text italic */
    font-family: 'Georgia', serif; /* A stylish font */
}

.benefits-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 20px 0;
}

.benefits-content {
    flex: 1;
    padding-right: 20px;
}

.benefits-image {
    flex-basis: 300px; /* Adjust this value based on the size of your image */
}

.benefits-image img {
    max-width: 100%;
    height: auto;
}

.benefitSection{
    background-color: white;
    text-align: center;
}

footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-content {
    text-align: center;
}


.info-section h2 {
    color: #333;
    margin-top: 20px;
    text-align: center;  /* This line centers the text */
}
